<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-8">
      <h1>Sobre Mí</h1>
      <p>Me llamo Christian Aguilar M., tengo 20 años y soy de Santiago, Chile.</p>
      <p>Soy un Desarrollador Frontend y actualmente estoy estudiando Ingeniería en Informática y Gestión.</p>
      <p>Tengo experiencia utilizando: </p>
      <ul>
        <li>HTML y CSS</li>
        <li>Python</li>
        <li>JavaScript</li>
        <li>Angular</li>
        <li>Flask</li>
        <li>Kivy</li>
        <li>SQL</li>
        <li>Linux</li>
      </ul>
    </div>
    <div class="col-12 col-lg-4">
      <img src="assets/foto-perfil.jpg" alt="Foto Christian Aguilar">
    </div>
  </div>
</div>
