<div class="container">
  <h1>Proyectos</h1>
  <h2>Proyectos en los que he trabajado</h2>
  <div class="row">
    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-white bg-blue text-center">
        <div class="card-header">
          Página CEMET USACH
        </div>
        <img src='assets/page-cemet.png' class="card-img-top px-4" alt="Proyecto página CEMET">
        <div class="card-body">
          <p class="card-text">
            Página web del Centro de Estudiantes de Metalurgia, USACH.
            <br/>
            Aquí se puede visualizar la malla de la carrera, la directiva del CEMET, contactarlos, hacer un reclamo, acceder al drive, ver el calendario de actividades, etc.
            <br />
            Esta página está desarrollada en Angular, con Bootstrap en el diseño y Firebase para el hosting y las bases de datos. Tiene implementado Firebase Auth, firebase database y Realtime Database de Firebase y Firebase Storage.
          </p>
          <div class="row justify-content-around">
            <a href="https://cemetusach.cl" target="_blank" class="btn btn-blue col-4">
              Link Página Web
            </a>
            <a href="https://github.com/christian-aguilar1/pagecemet" target="_blank" class="btn btn-blue col-3">
              Repositorio
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-white bg-blue text-center">
        <div class="card-header">
         Studio Ghibli Tracker
        </div>
        <img src='assets/studio-ghibli-tracker.png' class="card-img-top px-4" alt="Proyecto Studio Ghibli Tracker">
        <div class="card-body">
          <p class="card-text">
            Aplicación web para llevar un conteo de las películas de Studio Ghibli vistas por un usuario, además de poder darles una puntuación.
            <br>
            Esta aplicación está desarrollada en React.js en Platzi Master, yo trabajé en el frontend junto con un equipo de 6 personas con la metodología Scrum.
            Gracias a este proyecto aprendí React desde cero y trabajé de la mano con un equipo backend, un Team Lead y un Technical Expert.
          </p>
          <div class="row justify-content-around">
            <a href="https://tracker-movie-ghibli.netlify.app/" target="_blank" class="btn btn-blue col-4">
              Link Aplicación Web
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-white bg-blue text-center">
        <div class="card-header">
         Studio Ghibli Tracker backOffice
        </div>
        <img src='assets/studio-ghibli-backoffice.png' class="card-img-top px-4" alt="Proyecto Studio Ghibli Tracker">
        <div class="card-body">
          <p class="card-text">
            Aplicación backoffice del Studio Ghbli Tracker.
            <br>
            Esta aplicación está desarrollada en Next.js en Platzi Master, yo trabajé en el frontend junto con un equipo de 6 personas con la metodología Scrum.
            Gracias a este proyecto aprendí Next.js desde cero y trabajé de la mano con un equipo backend, un Team Lead y un Technical Expert.
          </p>
          <div class="row justify-content-around">
            <a href="https://studio-ghibli-backoffice.vercel.app/" target="_blank" class="btn btn-blue col-4">
              Link Aplicación Web
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>Proyectos Personales</h2>
  <div class="row">
    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-white bg-blue text-center">
        <div class="card-header">
          Portafolio
        </div>
        <img src='assets/portfolio.png' class="card-img-top px-4" alt="Proyecto Platzi Store">
        <div class="card-body">
          <p class="card-text">
            Este mismo portafolio, creado con Angular y Bootstrap, desplegado en Firebase.
          </p>
          <div class="row justify-content-around">
            <a href="https://christianaguilar-1.web.app" target="_blank" class="btn btn-blue col-4">
              Link Página Web
            </a>
            <a href="https://github.com/christian-aguilar1/portfolio" target="_blank" class="btn btn-blue col-3">
              Repositorio
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <h2>Proyectos de cursos</h2>
  <div class="row">
    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-white bg-blue text-center">
        <div class="card-header">
          Platzi Store
        </div>
        <img src='assets/platzi-store.png' class="card-img-top px-4" alt="Proyecto Platzi Store">
        <div class="card-body">
          <p class="card-text">
            Sitio web de un e-commerce, realizado con Angular y Angular Material para el diseño. Desplegado en Firebase.
          </p>
          <div class="row justify-content-around">
            <a href="https://platzi-store-434c0.web.app/home" target="_blank" class="btn btn-blue col-4">
              Link Página Web
            </a>
            <a href="https://github.com/christian-aguilar1/platzi-store" target="_blank" class="btn btn-blue col-3">
              Repositorio
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-white bg-blue text-center">
        <div class="card-header">
          TODO App
        </div>
        <img src='assets/todo-react.png' class="card-img-top px-4" alt="Proyecto Platzi Store">
        <div class="card-body">
          <p class="card-text">
            Aplicación de TODOS creada en React. Aprendí los fundamentos de React.js, React Context, Loading Skeleton, etc.
          </p>
          <div class="row justify-content-around">
            <a href="https://christian-aguilar1.github.io/todo-react/" target="_blank" class="btn btn-blue col-4">
              Link Página Web
            </a>
            <a href="https://github.com/christian-aguilar1/todo-react" target="_blank" class="btn btn-blue col-3">
              Repositorio
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
