.card {
  border-radius: 15px;
}

.btn-blue {
  background-color: rgba(9, 19, 48, 0.438);
  color: rgb(236, 236, 236);
}

.btn-blue:hover {
  background-color: rgba(7, 13, 34, 0.596);
}

.bg-blue {
  background-color: rgba(30, 40, 97, 0.2);
}
