<div class="container">
  <h1>Proyectos Personales</h1>
  <div class="row">
    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-center">
        <div class="card-header">
          Platzi Store
        </div>
        <img src='assets/platzi-store.png' class="card-img-top" alt="Proyecto Platzi Store">
        <div class="card-body">
          <p class="card-text">
            Sitio web de un e-commerce, realizado con Angular y Angular Material para el diseño. Desplegado en Firebase.
          </p>
          <div class="row justify-content-around">
            <a href="https://platzi-store-434c0.web.app/home" target="_blank" class="btn btn-primary col-4">
              Link Página Web
            </a>
            <a href="https://github.com/christian-aguilar1/platzi-store" target="_blank" class="btn btn-primary col-3">
              Repositorio
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-center">
        <div class="card-header">
          Todo App
        </div>
        <img src='assets/todo-app.png' class="card-img-top" alt="Proyecto Todo App">
        <div class="card-body">
          <p class="card-text">
            Aplicación Web de una aplicación To Do creada con Flask. Desplegada en GCP.
          </p>
          <div class="row justify-content-around">
            <a href="https://todo-app-production-313415.wl.r.appspot.com" target="_blank" class="btn btn-primary col-4">
              Link Página Web
            </a>
            <a href="https://github.com/christian-aguilar1/todo-app" target="_blank" class="btn btn-primary col-3">
              Repositorio
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-center">
        <div class="card-header">
          Platzi Conf
        </div>
        <img src='assets/platzi-conf.png' class="card-img-top" alt="Proyecto Platzi Store">
        <div class="card-body">
          <p class="card-text">
            Una aplicación creada con bootstrap, es solo el frontend con html, css y js.
          </p>
          <div class="row justify-content-around">
            <a href="https://christian-aguilar1.github.io/platzi-conf/" target="_blank" class="btn btn-primary col-4">
              Link Página Web
            </a>
            <a href="https://github.com/christian-aguilar1/platzi-conf" target="_blank" class="btn btn-primary col-3">
              Repositorio
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 pb-4">
      <div class="card text-center">
        <div class="card-header">
          Platzi Video
        </div>
        <img src='assets/platzi-video.png' class="card-img-top" alt="Proyecto Platzi Store">
        <div class="card-body">
          <p class="card-text">
            Una aplicación web para ver videos online.
          </p>
          <div class="row justify-content-around">
            <a href="https://christian-aguilar1.github.io/platzi-video/" target="_blank" class="btn btn-primary col-4">
              Link Página Web
            </a>
            <a href="https://github.com/christian-aguilar1/platzi-video" target="_blank" class="btn btn-primary col-3">
              Repositorio
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
