h1, small, p, .email {
  color: rgb(220, 223, 236);
}

.icon-contact {
  color: rgb(170, 179, 230);
  text-decoration: none;
}

.icon-contact p {
  padding-left: 10px;
}

.icon-contact:hover {
  color: rgb(204, 208, 228);
}

.icon {
  height: 64px;
  width: 64px;
}

.btn-blue {
  background-color: rgb(27, 41, 167);
  color: white;
}
.btn-blue:hover {
  background-color: rgb(27, 32, 80);
}
