h1, small, p, .email {
  color: rgb(220, 223, 236);
}

.icon-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(170, 179, 230);
  text-decoration: none;
}

.icon-contact p {
  text-align: center;
}

.icon-contact:hover {
  color: rgb(204, 208, 228);
}

.platzi img {
  height: 60px;
  margin-bottom: 4px;
  width: 56px;
}

.icon {
  height: 64px;
  width: 64px;
}

.btn-blue {
  background-color: rgb(27, 41, 167);
  color: white;
}
.btn-blue:hover {
  background-color: rgb(27, 32, 80);
}
