<div class="bg-dark sticky-bottom py-4">
  <footer>
      <div class="container">
          <!-- <div class="row">
              <div class="col item social">
                <a href="https://twitter.com/chr_aguilar"><i class="icon ion-social-twitter"></i></a>
                <a href="https://www.linkedin.com/in/christian-aguilar-matus-de-la-parra-014a6119a/">
                  <i class="icon ion-social-linkedin"></i>
                </a>
                <a href="https://github.com/christian-aguilar1"><i class="icon ion-social-github"></i></a>
              </div>
          </div> -->
          <p class="copyright">Christian Aguilar © 2021</p>
      </div>
  </footer>
</div>
