<div class="container">
  <div class="m-0 row justify-content-center align-items-center">
    <div class="col">
      <h1>Hola!</h1>
      <p class="title">Soy Christian Aguilar.</p>
      <p class="info pb-3">Soy un Desarrollador Frontend con un año de experiencia, un gran interés en el desarrollo web, y
        aplicaciones móviles. Autodidacta, con constantes ganas de aprender cosas nuevas, sin miedo al cambio.</p>
      <div class="buttons row w-25 justify-content-between align-items-stretch">
        <div class="col-12 col-lg-1">
          <button type="button" class="btn btn-outline-success btn-lg">
            <a href="mailto:christianaguilarm1@gmail.com" target="_blank" class="contact">Contactar</a>
          </button>
        </div>
        <div class="col-12 col-lg-1">
          <button type="button" class="btn btn-outline-success btn-lg">
            <a href="assets/cv.pdf" target="_blank" class="contact">Currículum</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
